.home {
    display: grid;
    // grid-template-columns: 3fr minmax(300px, 500px);
    grid-template-columns: minmax(600px, 3fr) 350px;
    gap: 50px;
    margin: 0 50px;
    min-height: 80vh;
}

.home-weather-wrapper {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2rem;
    }
    .weather-form {
        padding: 10px 0;


        input {
            border-radius: 10px;
            text-align: center;
            border: none;
            font-size: 1.1rem;
            padding-left: 10px;
            background-color: rgba(360, 360, 360, .8);
        }

        form {
            label {
                position: absolute;
                visibility: hidden;
            }
        }
    }
}

.switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

// Styling for the weather component
.weather-wrapper {
    // width: 1400px;
    width: 100%;
    min-width: 800px;

    .current-weather {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-bottom: solid 1px black;
        
        >p {
            font-weight: 600;
            text-decoration: underline;
        }
        >div {
            // padding-left: 20px;
            display: flex;
            // font-weight: 300;
            align-items: center;
            flex-direction: column;
            // justify-content: center;
            
        }
        img {
            height: 40px;
        }
    }
}
.todays-weather {
    width: 50%;
    min-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $primary-background;
    border-radius: 10px;
    padding: 5px;
    

    p {
        padding: 5px 0;
    }
}

.weather-data {
    display: flex;
    justify-content: space-between;
}

.weather-icon {
    background-color: $primary-background;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >div {
        display: flex; 
        justify-content: center;
        align-items: center;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70%;
        }
    }

    p {
        font-size: .8rem;
    }

    >h5 {
        font-weight: 600;
    }

    .prec {
        padding-top: 5px;
    }
}
.weather-container {
    display: flex;
    flex-direction: column;
    
    h2 {
        padding-bottom: 10px;
    }
    > div {
        display: flex;
        margin: 0 auto;
    }
    
}

.daily {
    overflow-x: auto;
}

.weather-scroll {
    width: 100%;
}

.scroll-button {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: rgb(71, 69, 69);
}

.scroll-button:hover {
    transform: scale(120%);
    
}

.hourly {
    padding-top: 40px;
    margin-bottom: 20px;
    width: 100%;

    .hourly-container {
        vertical-align: middle;
        display: flex;
        // width: 65vw;
        // min-width: 500px;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
}


.home-planner-wrapper {
    // border: solid;
    height: 100%;

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .home-planner-container {
        height: calc(100% - 2rem);
    }

    .planner-holder {
        border-radius: 10px;
        background-color: $primary-background;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 5px 0 5px;
        overflow: auto;

        a {
            align-self: center;
            width: fit-content;
            background-color: $tertiary-background;
            padding: 10px;
            border: 3px solid $highlight;
            border-radius: 5px;
        }

        a:hover {
            transform: scale(1.1);
        }

        h3 {
            font-size: 1.2rem;
            text-decoration: underline;
        }

        > div {
            padding-top: 5px;
        }

        .home-item {
            display: flex;
            padding: 5px 0;
        }
        
    }
}

// Styling for the preference section of the homepage
.preference-container {
    display: flex;
    flex-direction: column;
    background-color: $primary-background;
    width: 50%;
    min-width: 550px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;

    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
}

.preference-dropdown {
    display: none;
}

.preference-wrapper {
    display: flex;
    justify-content: center;
}

.toggle-switch {
    margin: 0 30px;
    h4 {
        text-align: center;
        padding: 10px 0;
    }
}

//Styling for the listview for weather
.list-container {
    background-color: $primary-background;
    width: 90%;
    height: 150px;
    overflow: auto;
    padding: 10px;

    table {
        width: 100%;
        text-align: left;

        td {
            // width: 
        }
    }

    img {
        height: 35px;
    }
}

.weather-list {
    display: flex;
    align-items: center;
}

@media (max-width: 1500px) {
    .hourly {
        padding-top: 40px;
        
        .hourly-container {
            overflow-x: auto;
        }
    }
}
@media (max-width: 1200px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    .planner-holder {
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    table, td, tr, th {
        font-size: 12px;
    }
    .home {
        margin: 0 10px;
    }
    .weather-wrapper {
        min-width: 550px;
    }

    .todays-weather, .preference-container {
        min-width: 400px;
        width: 90%;
    }

    .daily-weather-container {
        overflow: scroll;
    }
    .list-container {
        width: 100%;
        min-width: 450px;


        table {
            overflow: scroll;
            min-width: 550px;
        }
    }

    #left, #right {
        display: none;
    }
}

@media (max-width: 640px) {
    .todays-weather, .preference-container {
        width: 98%;
    }

    .todays-weather p{
        font-size: .8rem;
    }

    .todays-weather h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 530px) {
    .home {
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
    .weather-wrapper {
        min-width: 100%;
    }

    .todays-weather, .preference-container {
        min-width: 100%;
    }

    .preference-wrapper {
        display: none;
    }

    .preference-dropdown {
        display: block;
        background-color: rgba(0,0,0,0);
        border: none;
        font-size: 1.5rem;
        font-weight: 800;
    }
    .preference-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        position: relative;
    }
    .preference-container .preference-active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35px;
        right: 0;
        padding-bottom: 10px;
        background-color: $tertiary-background;
        border-radius: 10px;
    }

    .weather-icon {
        width: 135px;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .weather-data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: end;
    }

    .weather-times {
        display: none;
    }
}

@media (max-width: 400px) {
    .weather-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weather-left, .weather-right {
        width: 180px;
    }
}