.planner-wrapper {
    width: 100vw;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.planner {
    width: 70%;
    min-width:1050px; 
    height: 700px;
    display: flex;
    flex-direction: column;


    h1 {
        text-align: center;
        font-size: 2rem;
        text-decoration: underline;
    }
}

.planner-buttons {
    align-self: center;

    button {
        height: 40px;
        width: 200px;
        border: none;
        background-color: $tertiary-background;
        color: black;
        font-size: 1.3rem;
        font-weight: 600;
        border-radius: 10px 10px 0 0;
    }
}

.planner-sidebar {
    display: flex;
    flex-direction: column;
    // align-items: center;
    overflow: auto;
    height: 100%;
    padding: 10px;
    // border-right: 1px solid black;

    button {
        width: 200px;
        border: none;
        text-align: left;
        background-color: rgba(0,0,0,0);
        font-size: 1.4rem;
        padding: 5px 0 5px 5px;
    }

    button:hover {
        box-shadow: 3px 2px 3px 1px rgb(202, 194, 194);
    }

    h2 {
        font-size: 1.4rem;
        padding-top: 10px;
    }

    .new-item-button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: 10px;
        border: none;
        background-color: $tertiary-background;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        align-self: flex-end;
        margin-right: 40px;
        padding: 0;
    }

    .new-item-button:hover {
        box-shadow: 3px 2px 3px 1px rgb(138, 132, 132);
        transform: scale(1.1);
    }
}

.active-tab {
    font-weight: 600;
    color:rgb(12, 8, 70);
}

.project-tab {
    margin-left: 10px;
}

#no-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    i {
        margin-top: 10px;
        height: 40px;
        width: 40px;
        transform: rotate(0.1turn);
    }

}


.planner-content {
    overflow: auto;
    position: relative;
    height: 100%;

    h2 {
        font-size: 1.4rem;
        text-align: center;
        margin: 15px 0;
    }

    > button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        background-color: $tertiary-background;
        position: absolute;
        right: 20px;
        font-size: 1.3rem;
        font-weight: 600;
    }
}


.planner-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $primary-background;
}

.project-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    }
}

.schedule-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.item-checkbox-form label input {
    display: none;
}

.item-checkbox-form span {
    height:15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.item-checkbox-form [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -2px;
    font-size: 1.2rem;
    left: 0;
  }

.item {
    display: flex;
    align-items: center;
}

.item-container {
    width: 98%;
    border-radius: 5px;
    background-color: $secondary-background;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    margin: 10px 0;
}

.item-details {
    height: 100%;
    // width: 50%;
    width: 300px;
    min-width: 300px;
    justify-content: space-evenly;
}

.item-button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.item-button:hover {
    transform: scale(1.2);
}




.planner-weather {
    height: 700px;
    overflow: auto;
    width: 210px;
    margin-left: 50px;
    padding-top: 10px;
    background-color: $secondary-background;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
    }
    .weather-icon {
        margin: 10px 0;
    }
}

.title-color {
    color: $title-color;
}

// Colors and styling to indicate the priority of an item
.bullet {
    font-size: 1.8rem;
}


.home-item .bullet {
    font-size: 1.3rem;
}

.notes-wrapper {
    width: 100%;
    overflow-y:scroll;
    height: 100%;
}

.notes-container {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px;
}

.notes-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 1.5rem;
    }
}

.note-container {
    background-color: $tertiary-background;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 300px;

    pre {
        white-space: pre-wrap;
    }

    .note-container-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;

        div {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
        }
    }
}

.fas {
    margin-right: 10px;

}
.fa-exclamation-triangle {
    color: crimson;
}

.fa-exclamation-circle {
    color: rgb(49, 49, 209);
}

.fa-dot-circle {
    color: green;
}

.planner-buttons .active-planner-button {
    background-color: $primary-background;
}

.new-item-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: $tertiary-background;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    align-self: flex-end;
}

.new-item-button:hover {
    box-shadow: 3px 2px 3px 1px rgb(138, 132, 132);
    transform: scale(1.1);
}

.note-button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.planner-dropdown {
    display: none;
}

@media (max-width:1300px) {
    .planner-wrapper {
        flex-direction: column;
    }

    .planner {
        order: 2;
    }

    .planner-weather {
        order: 1;
        margin: 0;
        height: 180px;
        width: 95%;
        overflow: hidden;
        align-items: initial;
        margin-bottom: 20px;

        > div {
            display: flex;
            min-width: 100%;
            overflow-x: scroll;
            z-index: 1;
        }

        .weather-icon {
            flex-shrink: 0;
            margin: 10px 10px;
        }
    }
}

@media (max-width: 1100px) {
    .planner-dropdown {
        display: flex;
        align-self: flex-end;
        margin: 5px;
        align-items: center;

        h4 {
            padding-right: 5px;
            font-size: 1.2rem;
        }
        button {
            background-color: rgba(0,0,0,0);
            border: none;
            font-size: 1.6rem;
            font-weight: 800;
            padding-bottom: 5px;
        }

        button:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    .planner-sidebar {
        display: none;
    }

    

    .schedule-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;

        .active-sidebar {
            display: flex;
            position: absolute;
            z-index: 1;
            background-color: $tertiary-background;
            top: 50px;
            right: 0;
            border-radius: 10px;
            height: auto;

            button {
                font-size: 1rem;
            }

            .new-item-button {
                border: 1px solid rgba(54, 111, 185, 0.664);
            }
        }
    }

    .item p {
        font-size: .8rem;
    }

    .planner {
        width: 95%;
        min-width: 600px;
    }

    .item-container {
        margin: 10px auto;
        width: 95%;
    }

}

@media (max-width: 610px) {
    .planner {
        min-width: 200px;
    }

    .item-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: fit-content;

        .item-details {
            // min-width: 100%;
            min-width: 200px;
            width: 200px;
            justify-content: space-between;
            align-self: flex-end;
        }
        
        .item-title {
            margin-bottom: 10px;
            p {
                font-weight: 600;
                font-size: 1rem;
            }    
        }
    }
}

@media (max-width: 430px) {
    .planner-buttons button {
        width: 100px;
        font-size: 1rem;
    }
}