.planner-wrapper {
    width: 100vw;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

.planner {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;


    h1 {
        text-align: center;
        font-size: 2rem;
        text-decoration: underline;
    }
}

.planner-buttons {
    align-self: center;

    button {
        height: 40px;
        width: 200px;
    }
}

.planner-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 200px;
        border: none;
        border-bottom: solid 1px rgb(71, 136, 125);
        background-color: rgb(217, 227, 228);
        font-size: 1.4rem;
        padding: 10px;
    }

    h2 {
        font-size: 1.6rem;
        margin: 10px 0;
        text-decoration: underline;
    }
}


.planner-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;

    border-radius: 10px;
    background-color: rgba(360, 360, 360, 0.8);
}

.item-checkbox label {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


.item {
    display: flex;
    align-items: center;
}

.item-container {
    width: 100%;
    background-color: rgb(217, 227, 228);
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    margin: 10px 0;
}

.item-details {
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
}

.item-button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.item-button:hover {
    transform: scale(1.2);
}

.active-tab {
    color: green;
}

// Styling for the NewForm component
.newForm-main {
    width: 600px;
    height: 350px;

    .newForm-data {
        display: grid;
        grid-template-columns: 1fr 3fr;
        height: 100%;
    }
}

// .newForm-data {
//     display: flex;;
// }

.newForm-aside {
    display: flex;
    flex-direction: column;

    button {
        width: 100%;
        font-size: 1.3rem;
    }
}

.newForm-content {
    form {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    textarea {
        // height: 100%;
    }
}