
// For the toggles!
.switch .slide-button,
.toggle p span {
	display: none;
}

.toggle {
    position: relative;
    width: 200px;
    margin: 0 auto;
    display: block;
    height: 30px;

    label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: 5;
    }

    p {
        position: absolute;
        left: -100px;
        width: 100%;
        margin: 0;
        padding-right: 100px;
        text-align: left;
        font-family: OpenSans-SemiBold, "Helvetica Neue", helvetica, arial, sans-serif;
        font-size: .8em;
    }
    p span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 100px;
        text-align: center;
    }
    p span:last-child {
        left: 50%;
    }
    .slide-button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        display: block;
        width: 50%;
        height: 100%;
        padding: 0;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        
    }
}
.toggle label,
.toggle p {
    line-height: 30px;
    vertical-align: middle;
}
.toggle input:checked ~ .slide-button {
    right: 50%;
}

.switch {
    input:checked + label {
        color: #333;
    }

    .slide-button {
        border: 2px solid #D6D6D6;
        background-color: #2aa0c8;
        border-radius: 1px;
    }
    
    p {
        color: #333;
        text-shadow: none;
    }
    
    span {
        color: $primary-color;
    }
}
    
	
