// $primary-background: rgba(31, 30, 30, 0.9);
// $primary-color: rgb(206, 201, 201);
$title-color: black;
$planner-color: rgb(82, 99, 173);


// $primary-background: rgba(254, 254, 254, 0.8);
$primary-background: rgba(208, 223, 236, 0.85);
$primary-color: black;
$highlight: rgb(216, 232, 247);

// $secondary-background: rgba(174, 208, 236, 0.781);
// $tertiary-background: rgb(174, 208, 236);
$secondary-background: rgba(152, 187, 219, 0.781);
$tertiary-background: rgb(152, 187, 219);
// $modal-background: rgb(175, 206, 231);