@import 'reset';
@import 'modal';
@import 'planner';
@import 'nav';
@import 'home';

// Styling for the backgrounds
.rainy-day {
    background-image: url('../images/cloudyDay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    min-height: 100vh;
}